<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
  backupGlobals="true"
  backupStaticAttributes="false"
  colors="false"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  forceCoversAnnotation="false"
  processIsolation="false"
  stopOnError="false"
  stopOnFailure="false"
  stopOnIncomplete="false"
  stopOnSkipped="false"
  stopOnRisky="false"
  timeoutForSmallTests="1"
  timeoutForMediumTests="10"
  timeoutForLargeTests="60"
  verbose="false"
>
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">./packages/**/*</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="Core tests">
      <directory>packages/Ecotone/tests</directory>
    </testsuite>
    <testsuite name="Dbal tests">
      <directory>packages/Dbal/tests</directory>
    </testsuite>
    <testsuite name="Event Sourcing tests">
      <directory>packages/PdoEventSourcing/tests</directory>
    </testsuite>
    <testsuite name="Jms Converter tests">
      <directory>packages/JmsConverter/tests</directory>
    </testsuite>
    <testsuite name="Laravel tests">
      <directory>packages/Laravel/tests</directory>
    </testsuite>
    <testsuite name="Symfony tests">
      <directory>packages/Symfony/tests</directory>
    </testsuite>
    <testsuite name="Amqp tests">
      <directory>packages/Amqp/tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
